<%= render 'shared/page_title', title: "Chef: #{@chef.name}" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @chef, size: 200 %>
  </div>
</div>

<% unless @chef.profile.empty? %>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
    <%= simple_format @chef.profile %>
  </div>
</div>
<% end %>
<hr/>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
  <h3><em>Recipes:</em></h3>
    <%= will_paginate @recipes %>
  </div>
</div>

<% @recipes.each do |recipe| %>
<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
    <p><%= recipe.summary %></p>
    <p>
      <% if recipe.created_at == recipe.updated_at %>
        <span class="quiet"><small>Created <%= time_ago_in_words recipe.created_at %> ago</small></span>
      <% else %>
        <span class="quiet"><small>Created <%= time_ago_in_words recipe.created_at %> ago,</small></span>
        <span class="quiet"><small>last updated <%= time_ago_in_words recipe.updated_at %> ago</small></span>
      <% end %>
    </p>
    <div class="pull-right">
      <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-up"></i> <%= recipe.thumbs_up %>
      <% end %>
      &nbsp;&nbsp;
      <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
        <i class="glyphicon glyphicon-thumbs-down"></i> <%= recipe.thumbs_down %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
