<%= render 'shared/errors', object: @recipe %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for(@recipe, html: { multipart: true }) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :summary %>
      <%= f.text_field :summary %>

      <%= f.label :description %>
      <%= f.text_area :description, rows: 10 %>

      <span class="picture">
        <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
      </span>

      <%= f.submit(@recipe.new_record? ? 'Create Recipe' : 'Update Recipe', class: 'btn btn-success') %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
$("#recipe_picture").bind('change', function() {
    var size_in_mb = this.files[0].size / 1024 / 1024;

    if(size_in_mb > 5) {
        alert('That file is too big (maximum 5MB).\nPlease choose a smaller file.');
    }
});
</script>
