<%= render 'shared/page_title', title: @recipe.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size: 200), @recipe.chef %>
    <p>
      <h5>Brought to you by <%= @recipe.chef.name %></h5>
    </p>
  </div>

  <div class="col-md-8">
    <%= render 'update_links' %>
    <h3><%= @recipe.summary %></h3>

    <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, class: 'gravatar') if @recipe.picture? %>
    </div>

    <div class="well">
      <% if @recipe.styles.any? %>
        <p><span class="style-ing">Style:</span><%= render @recipe.styles %></p>
      <% end %>

      <% if @recipe.ingredients.any? %>
        <p><span class="style-ing">Ingredients:</span><%= render @recipe.ingredients %></p>
      <% end %>

      <p><strong>Steps:</strong></p>
      <%= simple_format(@recipe.description) %>

      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> <%= @recipe.thumbs_up %>
        <% end %>
        &nbsp;&nbsp;
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> <%= @recipe.thumbs_down %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h5><%= link_to 'Return to Recipes Listing', recipes_path, class: 'btn btn-warning btn-small' %></h5>
