<%= render 'shared/page_title', title: @recipe.name %>

<div class="row">
  <div class="col-md-4 pull-right center">
    <%= link_to gravatar_for(@recipe.chef, size: 200), @recipe.chef %>
    <p>
      <h5>Brought to you by <%= @recipe.chef.name %></h5>
    </p>
  </div>

  <div class="col-md-8">
    <%= render 'update_links' %>
    <h3><%= @recipe.summary %></h3>

    <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, class: 'gravatar') if @recipe.picture? %>
    </div>

    <div class="well">
      <% if @recipe.styles.any? %>
        <p><span class="style-ing">Style:</span><%= render @recipe.styles %></p>
      <% end %>

      <% if @recipe.ingredients.any? %>
        <p><span class="style-ing">Ingredients:</span><%= render @recipe.ingredients %></p>
      <% end %>

      <p><strong>Steps:</strong></p>
      <%= simple_format(@recipe.description) %>

      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i> <%= @recipe.thumbs_up %>
        <% end %>
        &nbsp;&nbsp;
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> <%= @recipe.thumbs_down %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% if logged_in? && !current_user?(@recipe.chef) %>
  <div class="row">
    <div class="col-md-8 well">
      <h3 class="center">New Review</h3>
      <%= form_for @review do |f| -%>
        <%= f.hidden_field :recipe_id %>
        <%= f.label :rating, "Rating" %>
        <%= f.select :rating, [['Dreadful', 1], ['Poor', 2], ['Acceptable', 3],
                               ['Exceeds Expectations', 4], ['Outstanding', 5]],
                              { selected: 5 } %>
        <%= f.label :body, "Comments" %>
        <%= f.text_area :body, rows: 5 %>
        <%= f.submit "Submit", class: 'btn btn-success' %>
      <% end -%>
    </div>
  </div>
<% end %>

<% if @recipe.reviews.any? %>  <!-- There'll always be 1, the new one. -->
  <div class="row">
    <div class="col-md-8">
      <h3 class="center">Reviews</h3>
    </div>
  </div>

  <% @recipe.reviews.each do |rev| %>
    <% next if rev.body.blank? %>
    <div class="row">
      <div class="col-md-2">
        Rating:&nbsp;
        <% rev.rating.times do %>
          <i class="glyphicon glyphicon-star"></i>
        <% end %>
      </div>
      <div class="col-md-6">
        <%= simple_format rev.body %>
      </div>
      <% if logged_in? && (current_user?(rev.chef) || current_user.admin?) %>
        <div class="col-md-2 btn-group">
          <%= link_to edit_review_path(rev), class: "btn btn-primary" do %>
            <i class="glyphicon glyphicon-edit"></i> Edit
          <% end %>
          <%= link_to rev, method: :delete, data: { confirm: 'Are you Sure?' }, class: "btn btn-danger" do %>
            <i class="glyphicon glyphicon-trash"></i> Delete
          <% end %>
        </div>
      <% end %>
    </div>
    <hr/>
  <% end %>
<% end %>

<h5><%= link_to 'Return to Recipes Listing', recipes_path, class: 'btn btn-warning btn-small' %></h5>
