<%= render 'shared/page_title', title: 'Create a New Ingredient' %>

<%= render 'shared/errors', object: @ingredient %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @ingredient, class: 'form-horizontal' do |f| %>
      <div class="form-group">
        <div class="col-md-2">
          <%= f.label :name %>
        </div>
        <div class="col-md-10">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-3 col-md-offset-2">
          <%= f.submit "Create Ingredient", class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
