<%= render 'shared/page_title', title: "Recipes with #{@ingredient.name}" %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to 'Recipes', recipes_path %>
  </li>
  <li>
    <%= link_to 'Chefs', chefs_path %>
  </li>
</ul>

<%= will_paginate @recipes %>

<% if @recipes.count == 0 %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 center">
      <h2>There are no recipes with <%= @ingredient.name %>. Why not create one?</h2>
    </div>
  </div>
<% else %>
  <% @recipes.each do |recipe| %>
    <div class="row">
      <div class="col-md-2">
        <section class="chef_info center">
        <%= link_to gravatar_for(recipe.chef, size: 100), recipe.chef %>
        <h5><%= recipe.chef.name %></h5>
        </section>
      </div>
      <div class="col-md-6 well">
        <h4><%= link_to recipe.name, recipe %></h4>
        <p><%= recipe.summary %></p>
        <p>Style: <%= render recipe.styles %></p>
        <p>Ingredients: <%= render recipe.ingredients %></p>
        <p>
          <% if recipe.created_at == recipe.updated_at %>
            <span class="quiet"><small>Created <%= time_ago_in_words recipe.created_at %> ago</small></span>
          <% else %>
            <span class="quiet"><small>Created <%= time_ago_in_words recipe.created_at %> ago,</small></span>
            <span class="quiet"><small>last updated <%= time_ago_in_words recipe.updated_at %> ago</small></span>
          <% end %>
        </p>
        <div class="pull-right">
          <% if logged_in? %>
            <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-up"></i> <%= recipe.thumbs_up %>
            <% end %>
          <% else %>
            <i class="glyphicon glyphicon-thumbs-up"></i> <%= recipe.thumbs_up %>
          <% end %>
          &nbsp;&nbsp;
          <% if logged_in? %>
            <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
              <i class="glyphicon glyphicon-thumbs-down"></i> <%= recipe.thumbs_down %>
            <% end %>
          <% else %>
            <i class="glyphicon glyphicon-thumbs-down"></i> <%= recipe.thumbs_down %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <%= image_tag(recipe.picture.url, size: '250x150', class: 'gravatar') if recipe.picture? %>
      </div>
    </div>
    <hr/>
  <% end %>
<% end %>

<%= will_paginate @recipes %>
