<%= render 'shared/page_title', title: 'Create a New Recipe Style' %>

<%= render 'shared/errors', object: @style %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @style do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "Create Style", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
