<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to 'Buffet Car', root_path, class: 'btn btn-lg btn-success', id: 'logo' %>
    <ul class='nav-item'>
      <li class="dropdown">
        <%= link_to '#', class: 'btn btn-default btn-danger dropdown-toggle', 'data-toggle' => 'dropdown' do %>
        Recipe Styles <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
          <% Style.all.each do |style| %>
            <li><%= link_to style.name, style %></li>
          <% end %>
          <% if logged_in? %>
            <li class="divider"></li>
            <li>
              <%= link_to new_style_path  do %>
                <i class="glyphicon glyphicon-plus-sign"></i> New Style
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class='nav-ul-item'>
      <li class="dropdown">
        <%= link_to '#', class: 'btn btn-default btn-danger dropdown-toggle', 'data-toggle' => 'dropdown' do %>
        Ingredients <b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
          <% Ingredient.all.each do |ingredient| %>
            <li><%= link_to ingredient.name, ingredient %></li>
          <% end %>
          <% if logged_in? %>
            <li class="divider"></li>
            <li>
              <%= link_to new_ingredient_path do %>
                <i class="glyphicon glyphicon-plus-sign"></i> New Ingredient
              <% end %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
    <% if logged_in? %>
      <div class='nav-ul-item'>
        <%= link_to new_recipe_path, class: 'btn btn-default btn-warning' do %>
          <i class="glyphicon glyphicon-plus-sign"></i> New Recipe
        <% end %>
      </div>
      <ul class="nav-ul-item">
        <li class="dropdown">
          <%= link_to '#', class: 'btn btn-default btn-danger dropdown-toggle', 'data-toggle' => 'dropdown' do %>
            <%= current_user.name %> <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to 'View profile', current_user %></li>
            <li><%= link_to 'Edit Profile', edit_chef_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Sign out', logout_path, method: :delete %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <div class='nav-item'>
        <%= link_to 'Sign in', login_path, class: 'btn btn-default btn-success' %>
      </div>
    <% end %>
  </div>
</header>
